<main class="main">
  <div class="container" *ngIf="user.role.code==='ROLE_PROPRIETAIRE'">
    <div class="row">
      <!-- breadcrumb -->
      <div class="col-12">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="index.html">Tableau de bord</a></li>
          <li class="breadcrumbs__item breadcrumbs__item--active">Voitures</li>
        </ul>
      </div>
      <!-- end breadcrumb -->

      <!-- title -->
      <div class="col-12">
        <div class="main__title main__title--page">
          <h5>Vous êtes {{ user.role.libelle }}</h5>
        </div>
      </div>
      <!-- end title -->
    </div>

    <div class="row">
      <div class="col-12">
        <div class="profile">
          <!-- tabs nav -->
          <app-menu></app-menu>
          <!-- end tabs nav -->
        </div>

        <!-- content tabs -->
        <div class="tab-content">
          <div *ngIf="messageSucces" class="alert alert-success">
            {{ messageSucces }}
          </div>
          <div class="tab-pane fade show active" id="tab-1" role="tabpanel" tabindex="0" *ngIf="showListeVoiture==1">
            <br>
            <div class="text-sm-end">
                <a  class="btn btn-primary" (click)="onHideListe()"><span>Ajouter une voiture</span></a>
            </div>
            <div class="row">
              <br>
              <div style="text-align: center;" *ngIf="!erreur" class="alert alert-danger">{{ messageErreur }}</div>
              <!-- car -->
              <div class="col-12 col-md-6 col-xl-4" *ngFor="let voiture of voitures;  let i = index">
                <div class="car">
                  <div class="car__img">
                    <img src="{{this.APIEndpoint + voiture.imagePrincipal }}" alt="">
                  </div>
                  <div class="car__title">
                    <h3 class="car__name"><a href="car.html">{{voiture.modele.marque.nom }} {{voiture.modele.nom }}</a></h3>
                  </div>
                  <div class="car__footer">
                    <a  class=" btn btn-info" (click)="onDetails(voiture.id)"><span>Détails</span></a>
                    <a  class="btn btn-warning" (click)="onUpdate(voiture.id)"><span>Modifier</span></a>
                    <a  class="btn btn-danger" (click)="supprimerVoiture(voiture.id)"><span>Supprimer</span></a>
                  </div>
                </div>
              </div>
              <br>
              <h6 *ngIf="voitures.length == 0" class="text-center text-danger">Aucune voitures enregistrées pour le moment !</h6>
              <!-- end car -->
            </div>

          </div>
          <!-- main content -->
          <main class="main main--sign" data-bg="img/bg/bg.png" *ngIf="showListeVoiture==2">
            <div class="text-sm-end">
                <a  class="btn btn-primary" (click)="onShowListe()"><span>Liste des voitures</span></a>
            </div>
            <!-- registration form -->
            <div class="sign">
              <div class="sign__content">
                <div style="text-align: center;" *ngIf="!erreur" class="alert alert-danger">{{ messageErreur }}</div>
                <form class="form-horizontal" [formGroup]="voitureForm" (ngSubmit)="ajoutVoiture()">
                  <h3>Ajout d'une voiture</h3>

                  <div class="car" *ngIf="imgURL">
                    <img [src]="imgURL" *ngIf="imgURL">
                  </div>
                  <div class="sign__group">
                    <label for="" class="sign_input">Image principale</label>
                    <input type="file" id="image" accept="image/*" class="form-control" name="image" (change)="onSelectFile($event)">
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Modèle</label>
                    <select id="modele" name="modele" [(ngModel)]="voiture.modele" formControlName="modele" class="sign__input">
                      <option  *ngFor="let modele of modeles" [ngValue]="modele">{{ modele.nom }}</option>
                    </select>
                    <div class="alert alert-danger" [hidden]="modele.valid || modele.pristine && !modele.touched ">Le modéle est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Numéro série</label>
                    <input type="text" class="sign__input" id="numeroSerie" placeholder="Le numéro série de la voiture" name="numeroSerie" formControlName="numeroSerie" [(ngModel)]="voiture.numeroSerie" required>
                    <div class="sign__" [hidden]="numeroSerie.valid || numeroSerie.pristine && !numeroSerie.touched ">Le numero série est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Vin number</label>
                    <input type="text" class="sign__input" id="vinNumber" placeholder="vinNumber de la voiture" name="vinNumber" formControlName="vinNumber" [(ngModel)]="voiture.vinNumber" required>
                    <div class="sign__" [hidden]="vinNumber.valid || anneeFabrication.pristine && !vinNumber.touched ">Le vinNumber est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Couleur</label>
                    <input type="text" class="sign__input" id="couleur" placeholder="La couleur de la voiture" name="couleur" formControlName="couleur" [(ngModel)]="voiture.couleur" required placeholder="Couleur">
                    <div class="sign__" [hidden]="couleur.valid || couleur.pristine && !couleur.touched ">La couleur est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Prix / J</label>
                    <input type="text" class="sign__input" id="prix" placeholder="Le prix de la voiture" name="prix" formControlName="prix" [(ngModel)]="voiture.prix" required>
                    <div class="sign__" [hidden]="prix.valid || prix.pristine && !prix.touched ">Le prix est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Année</label>
                    <input type="number" class="sign__input" id="anneeFabrication" placeholder="Année fabrication de la voiture" name="anneeFabrication" formControlName="anneeFabrication" [(ngModel)]="voiture.anneeFabrication" required>
                    <div class="sign__" [hidden]="anneeFabrication.valid || anneeFabrication.pristine && !anneeFabrication.touched ">L'année fabrication est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Puissance</label>
                    <input type="number" class="sign__input" id="puissance" placeholder="La puissance de la voiture" name="puissance" formControlName="puissance" [(ngModel)]="voiture.puissance" required placeholder="Puissance">
                    <div class="sign__" [hidden]="puissance.valid || puissance.pristine && !puissance.touched ">La puissance est obligatoire</div>
                  </div>

                  <button class="btn btn-primary" [disabled]="voitureForm.invalid" type="submit"><span>Ajouter</span></button>
                </form>
              </div>
            </div>
            <!-- end registration form -->
          </main>
          <!-- end main content -->
          <!-- main content -->
          <main class="main main--sign" data-bg="img/bg/bg.png" *ngIf="showListeVoiture==3">
            <div class="text-sm-end">
              <a  class="btn btn-primary" (click)="onShowListe()"><span>Liste des voitures</span></a>
            </div>
            <!-- registration form -->
            <div class="sign">
              <div class="sign__content">
                <div style="text-align: center;" *ngIf="!erreur" class="alert alert-danger">{{ messageErreur }}</div>
                <form class="form-horizontal" [formGroup]="voitureForm" (ngSubmit)="modifierVoiture(voiture.id)">
                  <h3>Modification d'une voiture</h3>

                  <div class="car" *ngIf="imgURL">
                    <img [src]="imgURL" *ngIf="imgURL">
                  </div>
                  <div class="sign__group">
                    <label for="" class="sign_input">Image principale</label>
                    <input type="file" id="image" accept="image/*" class="form-control" name="image" (change)="onSelectFile($event)">
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Modèle</label>
                    <select id="modele" name="modele" [(ngModel)]="voiture.modele" formControlName="modele" class="sign__input">
                      <option  *ngFor="let modele of modeles" [ngValue]="modele">{{ modele.nom }}</option>
                    </select>
                    <div class="alert alert-danger" [hidden]="modele.valid || modele.pristine && !modele.touched ">Le modéle est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Numéro série</label>
                    <input type="text" class="sign__input" id="numeroSerie" placeholder="Le numéro série de la voiture" name="numeroSerie" formControlName="numeroSerie" [(ngModel)]="voiture.numeroSerie" required>
                    <div class="sign__" [hidden]="numeroSerie.valid || numeroSerie.pristine && !numeroSerie.touched ">Le numero série est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Vin number</label>
                    <input type="text" class="sign__input" id="vinNumber" placeholder="vinNumber de la voiture" name="vinNumber" formControlName="vinNumber" [(ngModel)]="voiture.vinNumber" required>
                    <div class="sign__" [hidden]="vinNumber.valid || anneeFabrication.pristine && !vinNumber.touched ">Le vinNumber est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Couleur</label>
                    <input type="text" class="sign__input" id="couleur" placeholder="La couleur de la voiture" name="couleur" formControlName="couleur" [(ngModel)]="voiture.couleur" required placeholder="Couleur">
                    <div class="sign__" [hidden]="couleur.valid || couleur.pristine && !couleur.touched ">La couleur est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Prix / J</label>
                    <input type="text" class="sign__input" id="prix" placeholder="Le prix de la voiture" name="prix" formControlName="prix" [(ngModel)]="voiture.prix" required>
                    <div class="sign__" [hidden]="prix.valid || prix.pristine && !prix.touched ">Le prix est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Année</label>
                    <input type="number" class="sign__input" id="anneeFabrication" placeholder="Année fabrication de la voiture" name="anneeFabrication" formControlName="anneeFabrication" [(ngModel)]="voiture.anneeFabrication" required>
                    <div class="sign__" [hidden]="anneeFabrication.valid || anneeFabrication.pristine && !anneeFabrication.touched ">L'année fabrication est obligatoire</div>
                  </div>

                  <div class="sign__group">
                    <label for="" class="sign_input">Puissance</label>
                    <input type="number" class="sign__input" id="puissance" placeholder="La puissance de la voiture" name="puissance" formControlName="puissance" [(ngModel)]="voiture.puissance" required placeholder="Puissance">
                    <div class="sign__" [hidden]="puissance.valid || puissance.pristine && !puissance.touched ">La puissance est obligatoire</div>
                  </div>

                  <button class="btn btn-warning" [disabled]="voitureForm.invalid" type="submit"><span>Modifier</span></button>
                </form>
              </div>
            </div>
            <!-- end registration form -->
          </main>
          <!-- end main content -->

          <!-- détails d'une voiture  -->
          <main class="main" *ngIf="showListeVoiture==4">
            <div class="container">
              <section class="row">

                <!-- title -->
                <div class="col-12">
                  <a  class="btn btn-primary" (click)="onShowListe()"><span>Liste des voitures</span></a>
                  <div class="main__title main__title--page">
                    <h1>{{ voiture.modele.nom }} {{ voiture.modele.marque.nom }}</h1>
                  </div>
                </div>

                <!-- end title -->
                <!-- details -->
                  <div class="col-10 col-lg-5">
                    <div class="details">
                      <img src="{{this.APIEndpoint + voiture.imagePrincipal }}" >
                    </div>
                  </div>
                <!-- end details -->

                <!-- offer -->
                <div class="col-12 col-lg-5">
                  <div class="offer">
                    <span class="offer__title">Détails</span>

                    <ul class="offer__list">
                      <li>
                        <span class="offer__list-name">Prix</span>
                        <span class="offer__list-value offer__list-value--dark">{{ voiture.prix }} F CFA</span>
                      </li>
                      <li>
                        <span class="offer__list-name">Statut</span>
                        <span class="badge bg-success" *ngIf="voiture.statutVoiture === false">Disponible</span>
                        <span class="badge bg-danger" *ngIf="voiture.statutVoiture === true">Réservée</span>
                      <li>
                        <span class="offer__list-name">Couleur</span>
                        <span class="offer__list-value">{{ voiture.couleur }}</span>
                      </li>
                      <li>
                        <span class="offer__list-name">Année</span>
                        <span class="offer__list-value">{{ voiture.anneeFabrication }}</span>
                      </li>
                      <li>
                        <span class="offer__list-name">Puissance</span>
                        <span class="offer__list-value">{{ voiture.puissance }} ch</span>
                      </li>

                    </ul>

                  </div>
                </div>
                <!-- end offer -->
              </section>
            </div>
          </main>
        </div>
        <!-- end content tabs -->
      </div>
    </div>
  </div>
</main>
