<main class="main">
  <div class="container" *ngIf="affichage===0 && user.role.code==='ROLE_PROPRIETAIRE'">
    <div class="row">
      <!-- breadcrumb -->
      <div class="col-12">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="index.html">Tableau de bord</a></li>
          <li class="breadcrumbs__item breadcrumbs__item--active">Les réservations de votre compagnie</li>
        </ul>
      </div>
      <!-- end breadcrumb -->
      <!-- title -->
      <div class="col-12">
        <div class="main__title main__title--page">
          <h5>Vous êtes {{ user.role.libelle }}</h5>
        </div>
      </div>
      <!-- end title -->
    </div>
    <div class="row">
      <div class="col-12">
        <div class="profile">
          <!-- tabs nav -->
          <app-menu></app-menu>
          <!-- end tabs nav -->
        </div>
        <!-- content tabs -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-2" role="tabpanel" tabindex="0">
            <div class="row">
              <div class="col-12">
                <h6 *ngIf="reservations.length == 0" class="text-center text-danger">Aucune réservation ajoutée pour le moment !</h6>
                <!-- cart -->
                <div class="cart">
                  <div class="cart__table-wrap">
                    <div class="cart__table-scroll">
                      <table class="cart__table">
                        <thead>
                          <tr>
                            <th>Voiture</th>
                            <th></th>
                            <th>Client</th>
                            <th>Date réservation</th>
                            <th>Date début</th>
                            <th>Statut réservation</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let reservation of reservations;  let i = index">
                            <td>
                              <div class="cart__img">
                                <img src="{{this.APIEndpoint + reservation.voiture.imagePrincipal }}" alt="">
                              </div>
                            </td>
                            <td>{{ reservation.voiture.modele.marque.nom }} {{ reservation.voiture.modele.nom }}</td>
                            <td>{{ reservation.client.nom }} {{ reservation.client.prenom }}</td>
                            <td>{{ reservation.dateReservation | date: "yyyy-dd-MM" }}</td>
                            <td>{{ reservation.dateRetour | date: "yyyy-dd-MM" }}</td>
                            <td>
                              <span class="badge bg-danger" *ngIf="reservation.statutReservation === false">Réservée</span>
                              <span class="badge bg-success" *ngIf="reservation.statutReservation === true">Terminée</span>
                            </td>
                            <td>
                              <div class="car__footer">
                                <a  class=" btn btn-info"  (click)="detailReservation(reservation.id)"><span>Détails</span></a>&nbsp;
                                <a  class="btn btn-warning" *ngIf="reservation.statutReservation === false" (click)="finirReservation(reservation.id)"><span>Finir</span></a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- end cart -->
              </div>
            </div>
          </div>
        </div>
        <!-- end content tabs -->
      </div>
    </div>
  </div>

  <!-- reservation detail proprietaire -->
  <div class="container" *ngIf="affichage===1 && user.role.code==='ROLE_PROPRIETAIRE'">
    <section class="row">
      <!-- title -->
      <div class="col-12">
        <br>
        <button type="button" class="my-4 btn btn-primary" (click)="retour()"><span>Retour</span></button>
        <div class="main__title main__title--page">
          <h1>{{ reservation.voiture.modele.nom }} {{ reservation.voiture.modele.marque.nom }}</h1>
        </div>
      </div>

      <!-- end title -->
      <!-- details -->
      <div class="col-10 col-lg-5">
        <div class="details">
          <img src="{{this.APIEndpoint + reservation.voiture.imagePrincipal }}">
        </div>
      </div>
      <!-- end details -->

      <!-- plus de détails -->
      <div class="col-12 col-lg-5">
        <div class="offer">
          <span class="offer__title">Détails réservation</span>
          <div class="offer__wrap">
          </div>

          <ul class="offer__list">
            <li>
              <span class="offer__list-name">Client</span>
              <span class="offer__list-value offer__list-value--dark">{{ reservation.client.nom }} {{ reservation.client.prenom }}</span>
            </li>
            <li>
              <span class="offer__list-name">Statut réservation</span>
              <span class="offer__list-value badge bg-danger" *ngIf="reservation.statutReservation === false">Réservée</span>
              <span class="offer__list-value badge bg-success" *ngIf="reservation.statutReservation === true">Terminée</span>
            </li>
            <li>
              <span class="offer__list-name">Numéro téléphone client</span>
              <span class="offer__list-value offer__list-value--dark">{{ reservation.client.telephone }}</span>
            </li>
            <li>
              <span class="offer__list-name">Prix location / Jour</span>
              <span class="offer__list-value offer__list-value--dark">{{ reservation.voiture.prix }} F CFA</span>
            </li>
            <li>
              <span class="offer__list-name">Date réservation</span>
              <span class="offer__list-value">{{ reservation.dateReservation | date: "yyyy-dd-MM" }}</span>
            </li>
            <li>
              <span class="offer__list-name">Date retour</span>
              <span class="offer__list-value">{{ reservation.dateRetour | date: "yyyy-dd-MM" }}</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- end plus de détails -->
    </section>
  </div>

  <!-- reservation detail client -->
  <div class="container" *ngIf="affichage===1 && user.role.code==='ROLE_CLIENT'">
    <section class="row">

      <!-- title -->
      <div class="col-12">
        <div class="main__title main__title--page">
          <h1>{{ reservation.voiture.modele.nom }} {{ reservation.voiture.modele.marque.nom }}</h1>
        </div>
      </div>

      <!-- end title -->
      <!-- details -->
      <div class="col-10 col-lg-5">
        <div class="details">
          <img src="{{this.APIEndpoint + reservation.voiture.imagePrincipal }}">
        </div>
      </div>
      <!-- end details -->

      <!-- plus de détails -->
      <div class="col-12 col-lg-5">
        <div class="offer">
          <span class="offer__title">Détails réservation</span>
          <div class="offer__wrap">
          </div>

          <ul class="offer__list">
            <li>
              <span class="offer__list-name">Téléphone compagnie de location</span>
              <span class="offer__list-value">{{ reservation.voiture.proprietaire.telephone }}</span>
            </li>
            <li>
              <span class="offer__list-name">Prix location / Jour</span>
              <span class="offer__list-value">{{ reservation.voiture.prix }} F CFA</span>
            </li>
            <li>
              <span class="offer__list-name">Date réservation</span>
              <span class="offer__list-value">{{ reservation.dateReservation | date: "yyyy-dd-MM" }}</span>
            </li>
            <li>
              <span class="offer__list-name">Statut réservation</span>
              <span class="offer__list-value badge bg-danger" *ngIf="reservation.statutReservation === false">Réservée</span>
              <span class="offer__list-value badge bg-success" *ngIf="reservation.statutReservation === true">Terminée</span>
            </li>
            <li>
              <span class="offer__list-name">Date retour</span>
              <span class="offer__list-value">{{ reservation.dateRetour | date: "yyyy-dd-MM" }}</span>
            </li>
          </ul>
        </div>
        <a class="my-3 btn btn-primary" (click)="retour()"><span>Retour</span></a>
      </div>
      <!-- end plus de détails -->
    </section>
  </div>

  <div class="container" *ngIf="affichage===0 && user.role.code==='ROLE_CLIENT'">
    <div class="row">
      <!-- breadcrumb -->
      <div class="col-12">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="index.html">Tableau de bord</a></li>
          <li class="breadcrumbs__item breadcrumbs__item--active">Les réservations de votre compagnie</li>
        </ul>
      </div>
      <!-- end breadcrumb -->
      <!-- title -->
      <div class="col-12">
        <div class="main__title main__title--page">
          <h5>Vous êtes {{ user.role.libelle }}(e)</h5>
        </div>
      </div>
      <!-- end title -->
    </div>
    <div class="row">
      <div class="col-12">
        <div class="profile">
          <!-- tabs nav -->
          <app-menu></app-menu>
          <!-- end tabs nav -->
        </div>
        <!-- content tabs -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-2" role="tabpanel" tabindex="0">
            <div class="row">
              <div class="col-12">
                <h6 *ngIf="reservations.length == 0" class="text-center text-danger">Aucune réservation enregistrée pour le moment !</h6>
                <!-- cart -->
                <div class="cart">
                  <div class="cart__table-wrap">
                    <div class="cart__table-scroll">
                      <table class="cart__table">
                        <thead>
                          <tr>
                            <th>Voiture</th>
                            <th></th>
                            <th>Date réservation</th>
                            <th>Date retour</th>
                            <th>Statut réservation</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let reservation of reservations;  let i = index">
                            <td>
                              <div class="cart__img">
                                <img src="{{this.APIEndpoint + reservation.voiture.imagePrincipal }}" alt="">
                              </div>
                            </td>
                            <td>{{ reservation.voiture.modele.marque.nom }} {{ reservation.voiture.modele.nom }}</td>
                            <td>{{ reservation.dateReservation | date: "yyyy-dd-MM" }}</td>
                            <td>{{ reservation.dateRetour | date: "yyyy-dd-MM" }}</td>
                            <td>
                              <span class="badge bg-danger" *ngIf="reservation.statutReservation === false">Réservée</span>
                              <span class="badge bg-success" *ngIf="reservation.statutReservation === true">Terminée</span>
                            </td>
                            <td>
                              <div class="car__footer">
                                <a class=" btn btn-info" (click)="detailReservation(reservation.id)"><span>Détails</span></a>
                                <a *ngIf="reservation.statutReservation === false" class=" btn btn-warning" (click)="affichageFormulaire(reservation.id)"><span>Modifier</span></a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- end cart -->
              </div>
            </div>
          </div>
        </div>
        <!-- end content tabs -->
      </div>
    </div>
  </div>

  <div class="container" *ngIf="affichage===3">
    <div class="sign">
      <div class="sign__content">
        <form class="form-horizontal" [formGroup]="reservationForm" (ngSubmit)="modifierReservation(reservation.id, reservation.voiture.id)">
          <h3>Modification d'une réservation</h3>
          <div style="text-align: center;" *ngIf="erreur" class="alert alert-danger">{{ message }}</div>
          <div class="car">
              <img src="{{this.APIEndpoint + reservation.voiture.imagePrincipal }}"  alt="">
          </div>

          <div class="my-4 sign__group">
            <label for="" class="sign_input">Date réservation</label>
            <input type="date" class="sign__input" name="dateReservation" id="dateReservation" name="dateReservation" formControlName="dateReservation" [(ngModel)]="reservation.dateReservation" required>
            <div class="sign__" [hidden]="dateReservation.valid || dateReservation.pristine && !dateReservation.touched ">Date reservation obligatoire</div>
          </div>

          <div class="sign__group">
            <label for="" class="sign_input">Date retour</label>
            <input type="date" class="sign__input" name="dateReservation" id="dateRetour" name="dateRetour" formControlName="dateRetour" [(ngModel)]="reservation.dateRetour" required>
            <div class="sign__" [hidden]="dateRetour.valid || dateRetour.pristine && !dateRetour.touched ">Date retour obligatoire</div>
          </div>

          <button class="btn btn-warning" [disabled]="reservationForm.invalid" type="submit"><span>Modifier</span></button>&nbsp;
          <button class="btn btn-primary" type="button" (click)="retour()"><span>Retour</span></button>
        </form>
      </div>
    </div>
  </div>
</main>
